/*  ---------------------------- ALL OTHERS WIDGETS ---------------------------- */
*{
font-family: Arial, Helvetica, sans-serif;
selection-background-color: green;
selection-color: white;
}



/*  ---------------------------- MAIN WINDOW, WIDGET ---------------------------- */
QMainWindow,QWidget
{
color:black;
background:white;
}

/*  ---------------------------- MENU BAR ---------------------------- */
QMenuBar
{
color:green;
background:white;
}
QMenuBar::item:selected
{
background: green;
color:white;
}
/*  ---------------------------- CONTEXT MENU ---------------------------- */
QMenu
{
color:green;
border-radius:2;
padding: 2;
border:1px solid green;
}
QMenu::item:selected 
{
background:green;
color:white;
}
QMenu::separator {
background:green;
height:1px;
}


/*  ---------------------------- TAB WIDGET ---------------------------- */
QTabWidget::tab-bar 
{

}
QTabBar::tab {
color:green;
background:white;
}
QTabBar::tab:selected, QTabBar::tab:hover {
background:green;
color:white;
}

/*  ---------------------------- LINE_EDIT TEXT BROWSER TEXT_EDIT PLAIN_TEXT ---------------------------- */
QLineEdit,QTextBrowser,QTextEdit,QPlainTextEdit 
{
color:black;
}

/*  ---------------------------- CHECK/COMBO BOX ----------------------------*/
QComboBox
{
color:green;
background:white;
}
QCheckBox
{

}

/* ----------------------------  TOOL BOX  ----------------------------  */
QToolBox
{

}
QToolBox::tab
{
color:green;
background:rgb(240,240,240);
}
QToolBox::tab::selected,QToolBox::tab::hover
{
color:white;
background:green;
}
/*  ---------------------------- PROGRESS BAR ---------------------------- */
QProgressBar {
color:black;
border: 1px solid green;
text-align: center;
}
QProgressBar::chunk {
background:green;
}


/*  ---------------------------- PUSHBUTTON ---------------------------- */
QPushButton
{
color:white;
background:green;
border:1px solid white;
}
QPushButton:hover, QPushButton:pressed
{
color:green;
background:white;
border: 1px solid green;
}

QDialogButtonBox
{
color:red;
min-height: 15;
min-width: 50;
}

QToolButton
{
background:green;
color:white;
border:5px solid green;
}

/*  ----------------------------  LCD NUMBER ---------------------------- */
QLCDNumber
{
color:white;
border:1px dashed white;
background:green;
}

/*  ---------------------------- TABLE_LIST_TABLE ---------------------------- */
QTreeView,QListView,QTableView
{
color:green;
}
QTableView::item:selected, QListView::item:selected 
{
color:white;
background:green;
}
QTableView::item:hover, QListView::item:hover, QTreeView::item:hover 
{
color:darkgrey;
background:lightgreen;
}
QTableView::item, QListView::item, QTreeView::item 
{
color:green;
}
QTreeView::item:selected 
{
color:white;
background:green;
}

/*  ---------------------------- HEADER VIEW ---------------------------- */
QHeaderView::section 
{
color:white;
background:green;
border:transparent;
text-align:center;
}



/* ------------------------------- CALENDAR -------------------------------------------------- */


QCalendarView
{ 
color: black; 
background-color: white;
alternate-background-color: green;
selection-background-color: green; 
selection-color: white;
}


/* ---------------------------------------- SLIDER HORIZONTAL ----------------------------------------------- */

QSlider::groove:horizontal,QSlider::add-page:horizontal {
background: white;
border:1px solid green;
height: 17px;
}
QSlider::sub-page:horizontal {
height: 10px;
background: darkgreen;
}
QSlider::handle:horizontal {
margin-right: -10px;
margin-left: -10px;
background: green;
border:1px solid white;
}
QSlider::handle:horizontal:hover {
background: white;
border:1 solid green;
}

/* --------------------------------  VERTICAL SLIDER -------------------------------------------------------------- */

QSlider::groove:vertical,QSlider::add-page:vertical
{
width: 20px;
background: darkgreen;
}
QSlider::sub-page:vertical {
background: white;
border:1px solid green;
}

QSlider::handle:vertical {
margin-top: -10px;
margin-bottom: -10px;
background: green;
border:1px solid white;
}
QSlider::handle:vertical:hover {
background: white;
border:1 solid green;
}

/* --------------------------------- SCROLLBAR HORIZONTAL -------------------------------------- */

QScrollBar::groove:horizontal,QScrollBar::add-page:horizontal {
background: white;
border:1px solid green;
height: 17px;
}
QScrollBar::sub-page:horizontal {
height: 10px;
background: darkgreen;
}
QScrollBar::handle:horizontal {
margin-right: -3px;
margin-left: -3px;
background: green;
border:1px solid white;
}
QScrollBar::handle:horizontal:hover {
background: white;
border:1 solid green;
}

/* --------------------------------------- SCROLLBAR VERTICAL ---------------------------------------------- */

QScrollBar::groove:vertical,QScrollBar::add-page:vertical
{
width: 20px;
background: darkgreen;
}
QScrollBar::sub-page:vertical 
{
background: white;
border:1px solid green;
}
QScrollBar::handle:vertical 
{
margin-top: -3px;
margin-bottom: -3px;
background: green;
border:1px solid white;
}
QScrollBar::handle:vertical:hover 
{
background: white;
border:1 solid green;
}

/* ---------------------------------------------------------------------------------------------- */
