/*  ---------------------------- ALL OTHERS WIDGETS ---------------------------- */
*{
font-family: Arial, Helvetica, sans-serif;
selection-background-color: rgb(0, 93, 170);
selection-color: rgb(0, 0, 0);
}

/*  ---------------------------- MAIN WINDOW, WIDGET ---------------------------- */
QMainWindow,QWidget
{
color:rgb(0,0,0);
background:rgb(0, 0, 0);
}

/*  ---------------------------- MENU BAR ---------------------------- */
QMenuBar
{
color:rgb(182, 181, 181);
background:rgb(0, 0, 0);
}
QMenuBar::item:selected
{
color:rgb(180, 179, 179);
background:rgb(88, 88, 88);
}
/*  ---------------------------- CONTEXT MENU ---------------------------- */
QMenu
{
color:rgb(172, 169, 169);
background:rgb(53, 53, 53);
padding: 3;
}
QMenu::item:selected 
{
color:rgb(199, 197, 197);
background:rgb(63, 63, 63);
}
QMenu::separator {
background:rgb(71, 71, 71);
height:1px;
}


/*  ---------------------------- TAB WIDGET ---------------------------- */
QTabBar::tab {
color:rgb(68, 68, 68);
background:rgb(51, 50, 50);
}
QTabBar::tab:selected {
background:rgb(0, 0, 0);
color:rgb(204, 202, 202);
}

/*  ---------------------------- LINE_EDIT TEXT BROWSER TEXT_EDIT PLAIN_TEXT ---------------------------- */
QLineEdit,QTextBrowser,QTextEdit,QPlainTextEdit 
{
color:rgb(236, 236, 236);
background-color:rgb(0, 0, 0);
border:1px solid rgb(46, 46, 46);
}

/*  ---------------------------- CHECK/COMBO BOX ----------------------------*/
QComboBox {
border: transparent;
padding: 1px 18px 1px 3px;
min-width: 6em;
color:rgb(255, 255, 255);
background-color:rgb(0, 0, 0);
}

QComboBox:editable {
background: rgb(0, 0, 0);
}

QComboBox:!editable, QComboBox::drop-down:editable {
background: black;
border:1px solid white;
 }

 /* QComboBox gets the "on" state when the popup is open */
 QComboBox:!editable:on, QComboBox::drop-down:editable:on {
     background: rgb(30,30,30);
 }
QComboBox:on { /* shift the text when the popup opens */
padding-top: 3px;
padding-left: 4px;
color:rgb(0, 93, 170);;
 }

QComboBox::drop-down {
subcontrol-origin: padding;
subcontrol-position: top right;
width: 15px;
border-left-width: 2px;
border-left-color: rgb(104, 103, 103);
border-left-style: solid; /* just a single line */
border-top-right-radius: 3px; /* same radius as the QComboBox */
border-bottom-right-radius: 3px;
background-color:rgb(0, 93, 170);;
 }

QCheckBox,QRadioButton
{
background: rgb(0, 0, 0);
color:rgb(228, 228, 228);
padding: 5;
border:1px solid rgb(44, 44, 44);
}

/* ----------------------------  TOOL BOX  ----------------------------  */
QToolBox::tab
{
color:rgb(85, 84, 84);
background:rgb(71, 71, 71);
}
QToolBox::tab::selected
{
color:rgb(148, 147, 147);
background:rgb(3, 3, 3);
}
QToolBox::tab::hover
{
color:rgb(0, 0, 0);
background:rgb(0, 93, 170);
}
/*  ---------------------------- PROGRESS BAR ---------------------------- */
QProgressBar {
color:rgb(165, 165, 165);
text-align: center;
font-size:13px;
}
QProgressBar::chunk {
background:rgb(26, 144, 26);
}


/*  ---------------------------- PUSHBUTTON ---------------------------- */
QPushButton
{
border: 1px solid rgb(138, 136, 136);
color:white;
background:rgb(0, 93, 170);
}

QPushButton:hover
{
border: 1px solid rgb(63, 63, 63);
color:rgb(0, 0, 0);
background:rgb(2, 62, 109);
}

QPushButton:pressed
{
border: 1px solid rgb(77, 74, 74);
color:rgb(0, 0, 0);
background:rgb(0, 53, 100);
}



/* -------------------------- QDIALOG BUTTON BOX ----------------------------------- */

QDialogButtonBox
{
min-height: 35px;
min-width: 50px;
}


/*  ----------------------------  LCD NUMBER ---------------------------- */
QLCDNumber
{
color:rgb(0, 93, 170);
border:2 solid rgb(184, 182, 182);
}

/*  ---------------------------- TABLE_LIST_TABLE ---------------------------- */
QTableView,QTableWidget
{
    alternate-background-color: rgb(59, 59, 59);
}
QTreeView
{
    background: rgb(0, 0, 0);
    color: rgb(173, 170, 170);
}
QTableView::item:selected, QListView::item:selected,QTableView::item:hover, QListView::item:hover, QTreeView::item:hover 
{
background:rgb(0, 93, 170);
color:rgb(134, 134, 134);
}
QTableView::item, QListView::item, QTreeView::item
{
color:rgb(92, 92, 92);
}
QTreeView::item:selected,QListView::item:selected,QTableView::item:selected
{
color:rgb(114, 114, 114);
background:rgb(0, 0, 0);
}

/*  ---------------------------- HEADER VIEW ---------------------------- */
QHeaderView::section 
{
color:rgb(109, 109, 109);
background:rgb(0, 0, 0);
border:1px solid rgb(131, 131, 131);
text-align:center;
padding:1;
}

/* ------------------------------- CALENDAR -------------------------------------------------- */

QCalendarView
{ 
color: rgb(20,20,20); 
background-color: rgb(240,240,240);
alternate-background-color: rgb(0, 93, 170);
selection-background-color: white; 
selection-color: black;
}
QAbstractItemView
{
color:rgb(200,200,200);
}

/* ---------------------------------------- SLIDER HORIZONTAL ----------------------------------------------- */

/*
QSlider::groove:horizontal,QSlider::add-page:horizontal 
{
background: rgb(70,70,70);
height: 17px;
}
QSlider::sub-page:horizontal {
height: 10px;
background: rgb(100,100,100);
}
QSlider::handle:horizontal {
margin-right: -10px;
margin-left: -10px;
background: rgb(150,150,150);
}
QSlider::handle:horizontal:hover {
background:rgb(255, 255, 255);
}

--------------------------------  VERTICAL SLIDER -------------------------------------------------------------- 

QSlider::handle
{
border-radius: 5px;
}

QSlider::groove:vertical,QSlider::add-page:vertical
{
width: 20px;
background: rgb(70,70,70);
}
QSlider::sub-page:vertical 
{
background: rgb(100,100,100);
}

QSlider::handle:vertical {
margin-top: -10px;
margin-bottom: -10px;
background: rgb(150,150,150);
}
QSlider::handle:vertical:hover {
background: white;
}

 --------------------------------- SCROLLBAR HORIZONTAL -------------------------------------- 

QScrollBar::groove:horizontal{
background: white;
height: 17px;
}
QScrollBar::sub-page:horizontal,QScrollBar::add-page:horizontal  {
height: 10px;
background: rgb(100,100,100);
}
QScrollBar::handle:horizontal {
margin-right: -5px;
background: rgb(150,150,150);
}
QScrollBar::handle:horizontal:hover {
background: white;
}

 --------------------------------------- SCROLLBAR VERTICAL ---------------------------------------------- 

QScrollBar::groove:vertical
{
width: 20px;
}
QScrollBar::sub-page:vertical,QScrollBar::add-page:vertical
{
background: rgb(100,100,100);
}
QScrollBar::handle:vertical 
{
margin-top: -3px;
margin-bottom: -3px;
background: rgb(150,150,150);
}
QScrollBar::handle:vertical:hover 
{
background: white;
}

*/

/* ---------------------------------- Q TOOL BAR -------------------------------------------------------- */

QToolBar {
    background: rgb(50, 50, 50);
    spacing: 4;
}
/* QToolBar:separator
{
    background: rgb(80, 80, 80);
} */

/* -----------------------------------------------Q TOOL BUTTON------------------------------------------- */

QToolButton
{
margin: 3;
color:rgb(255, 255, 255);
background:transparent;
}
QToolButton:hover
{
margin: 0;
color:white;
background:rgb(50,50,50);
}
QToolButton:pressed
{
margin: 0;
color:white;
background:rgb(29, 29, 29);
}